.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}
body {
  background-color: lightblue;
}

.listTitle {
  color: black;
  text-align: center;
  font-style: oblique;
  border-bottom: 5px red solid;
  width: 50%;
}
